.light {
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.cable{
    background-color: black;
    height: 100px;
    width: 15px;
}
.trafficLight{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 330px;
    width: 120px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.redLight {
    background-color: red;
}

.greenLight {
    background-color: green;
}

.yellowLight {
    background-color: yellow;
}

.glow{
    box-shadow: 0px 0px 10px 8px yellow;
}

